@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap');
body {
    height: 100%;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-style: normal;
    font-weight: normal;
    background: #FFF7EE;
    /* background: url(https://vcdrmuti.files.wordpress.com/2019/12/5-2-logo_rmuti_kaesad_flower-1.jpg?w=755); */
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

h4 {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h5 {
    top: 18px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.haedh3 {
    font-size: 20px;
}

nav {
    width: 1920px;
    height: 100px;
    background: #FF9A6E;
}

p {
    font-family: verdana;
    font-size: 20px;
}

#headcol {
    background: #FFCEB6;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    padding-left: 20px;
}

#detail {
    text-align: left;
    background: white;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
}

#box {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 191px;
    top: 155px;
    border: 2px solid #FF9A6E;
    box-sizing: border-box;
}

#box1 {
    position: absolute;
    width: 1600px;
    height: 220px;
    left: 191px;
    top: 800px;
    border: 2px solid #FF9A6E;
    box-sizing: border-box;
}

#box2 {
    position: absolute;
    width: 1600px;
    height: 220px;
    left: 191px;
    top: 1050px;
    border: 2px solid #FF9A6E;
    box-sizing: border-box;
}

#AAA {
    width: 180px;
    height: 60px;
    padding: 20px;
    top: -15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FF9A6E;
    border-radius: 10px;
    text-align: center;
    color: white;
    align-items: center;
    /* display: flex; */
    font-size: 20px;
    line-height: 23px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#inputAAA {
    width: 600px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 15px;
    display: inline-block;
    margin: 8px 0;
    border-bottom: none;
}